<main>

  <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
          <h1><%= title %></h1>
  
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
      <nav class="navbar bg-body-tertiary">
          <div class="container-fluid justify-content-start">
              <a class="btn btn-sm btn-outline-success me-2" href="/category/add">Add New Category</a>
          </div>
      </nav>

  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Category Name</th>
      <th scope="col">Created</th>
        <th scope="col">Updated</th>
      <th>Action(s)</th>
    </tr>
  <% category.forEach(function (cat, index) {  %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= cat.category_name %></td>
      <td><%= dayjs.utc(cat.createdAt).format('DD/MM/YYYY') %></td>
      <td>Updated <%= dayjs.utc(cat.updatedAt).fromNow(true) %> ago</td>
      <td>
      <a class="btn btn-sm btn-warning" href="/category/edit?id=<%= cat._id %>"><i class="bi-pencil-fill"></i></a> <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#D<%= index+1 %>">
        <i class="bi-trash3-fill"></i></button>

<div class="modal fade" id="D<%= index+1 %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= index+1 %>" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-3 text-danger" id="exampleModalLabel<%= index+1 %>">Delete this Category?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Category Name: <%= cat.category_name %> 
    </div>
    <div class="modal-footer">
    <form method="POST" action="/category/delete?id=<%= cat._id %>">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </div>
</div>
</div>
</div>
</td>
     <!-- <td><a href="/category/delete?id=<%= cat._id %>">Delete</a> <a href="/category/edit?id=<%= category._id %>">Edit</a></td> -->

    </tr>
  <% }) %>
  </table>
  
  
</div>
</div>

</main>
  