<main>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <h1><%= title %></h1>
  

        <form method="POST" action="/user/update">
          <div class="row g-3">
            <div class="col-lg-4 col-md-12 col-sm-12">

            <div class="mb-3 pb-1">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" value="<%= users.name %>">
                </div>
              </div>
  
              <div class="mb-3 pb-1">
                <label for="googleId">Google Id</label>
                <input id="googleId" name="googleId" value="<%= users.googleId %>" style="background-color: lightgray" readonly>
              </div>
  
              <div class="mb-3 pb-1">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="<%= users.email %>" style="background-color: lightgray" readonly>
              </div>
  
              <div class="mb-3 pb-1">
                <label for="userType">User Privileges</label>
                <select id="userType" name="userType">
                  <option value="1" <% if (users.userType === '1') { %> selected <% } %>>Admin</option>
                  <option value="2" <% if (users.userType === '2') { %> selected <% } %>>Auctioneer</option>
                  <option value="3" <% if (users.userType === '3') { %> selected <% } %>>Bidder</option>
                </select>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="mb-3 pb-1">
                    <label for="avatar">Users Image</label>
                <div class="form-floating pb-3">
                    <img src="<%= users.avatar %>" referrerpolicy="no-referrer" height="300px">
                </div>
                </div>
            </div> 

        </div>  

            <div class="row">
                <div class="d-grid gap-2 col-4 col-sm-8 mx-auto">
              <input type="hidden" name="id" value="<%= users._id %>">
              <button type="submit">Edit User Details</button>
            </div>
            
          </form>
        </div>
      </div>
  </main>