<main>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <h1><%= title %></h1>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

    <% recipe.forEach(recipe => { if(recipe.isPublished){ %>
       
    <div class="col">
        <div class="card shadow-sm">
            <% let thePhoto = "empty.jpg"; if(recipe.thumbnail){ thePhoto = recipe.thumbnail } %>
            <a href="/recipe/detail?id=<%= recipe._id %>"><img src="../images/<%= thePhoto %>" width="100%"></a>
            <!--<title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <div class="card-body">
            <p class="card-text"><%= recipe.recipeName %></p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="/recipe/detail?id=<%= recipe._id %>">View</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-body-secondary"><span class="fst-italic">Eat in</span> <span class="badge bg-success rounded-pill"><%= recipe.duration %> mins</span></small>
            </div>
        </div>
        </div>
    </div>

    <% } }); %>
    
</div>




    </div>
</div>

</main>
