<main>

  <div class="album py-5 bg-body-tertiary">
  <div class="container">

<h1><%= title %></h1>

<form method="POST"  enctype="multipart/form-data" action="/auction/update" autocomplete="off">
<div class="row g-3">

  <div class="col-lg-4 col-md-12 col-sm-12">

  <div class="form-check pb-3">
    <!-- <label for="category" class="form-label">Item Category</label>
    <input id="category" name="category" type="text" class="form-control" required> -->

    <label for="category" class="form-label">Category</label>
    <input type="text" id="category" name="category" class="form-control" value="<%= auction.category.category_name %>" disabled>

  </div>

  <div class="form-check pb-3">
    <label for="name" class="form-label">Auctioned Item Title</label>
    <input id="name" name="name"  value="<%= auction.name %>"  class="form-control" disabled>
  </div>

  <div class="form-check pb-3">
    <label for="min_price" class="form-label">Starting Price [<span class="text-warning">Currency</span>]</label>
    <input id="min_price" name="min_price" value="<%= auction.min_price %>" class="form-control" disabled>
  </div>

  <div class="form-check pb-3">
    <label for="end_date" class="form-label">End Date / Time</label>
    <input id="end_date" name="end_date" type="date" class="form-control" value="<%= dayjs(auction.end_date).format('YYYY-MM-DD') %>" min="<%= minDate %>" max="<%= maxDate %>" required>
    <input type="time" id="time" name="time" value="<%= theTime %>" class="form-control" required>
  </div>

</div>

<div class="col-lg-4 col-md-6 col-sm-12">
  <label for="description" class="form-label">Description</label>
  <div class="form-floating pb-3">
    <textarea id="description" name="description" class="form-control" height="100px" required></textarea>
  </div>
</div>

  <!-- <div>
    <label for="start_date" class="form-label">Start Date</label>
    <input id="start_date" name="start_date" type="date" class="form-control">
  </div> -->

  
  <div class="col-lg-4 col-md-6 col-sm-12">
    <img src="<%= auction.item_img %>" width="100%">
  </div>

  <br>

<div class="row">
    <div class="d-grid gap-2 col-4 col-sm-8 mx-auto">
      <input name="status" type="hidden" value="true" class="form-control" required>
      <button type="submit" class="btn btn-primary">Update Auction</button>
    </div>
</div>
  

</div>
</form>

</div>
</div>



</main>