<div>
  <div>
    <h3><%= auction.aucction_name %></h3>
    <div>Auction Date: <%= auction.auction_date %></div>
    <div>Item Category: <%= auction.item_category %></div>
    <div>Item Name: <%= auction.item_name %></div>
    <div>Starting Price: <%= auction.sarting_price %></div>
    <div>Item Category: <%= auction.item_category %></div>
    <div>Item Name: <%= auction.item_name %></div>
    <div>Starting Price: <%= auction.starting_price %></div>
    <div>Item Image: <%= auction.item_img %></div>
  
  </div>

  <br>
  
  